<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> HomePublicHomeJumbotron}}
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				Shipment History - Test
			</h1>
			<p id="jumbotron-text">
                Framework :  Meteorjs <small> (Nodejs+ Mongodb)</small>
			</p>
            <p>
                To run this code on your computer
                <ul>
            <li>Installez <a href="https://www.meteor.com/developers/install" target="_blank">Meteor Js</a> </li>
                    <li> Clone the <a href="https://bitbucket.org/astonbraham/shipment-history-test"  target="_blank">repository of the project </a></li>
                    <li>Run the command <code>meteor</code> in the project's folder</li>
                <li>Navigate to<a href="http://localhost:3000"  target="_blank">http://localhost:3000</a></li>
            </ul>
            </p>
			<p>
				<a href="{{pathFor 'shipment_history' }}" class="btn btn btn-primary btn-lg" role="button">
					View Shipment history &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

