

.mt-70 {
    margin-top: 70px
}

.mb-70 {
    margin-bottom: 70px
}


.event-dot
{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 1px;
    margin: -10px 0 0 -10px;
    background: #3b89c9;
    border: 3px solid #fff;
}



.event-dot-with-icon
{
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 12px;
    position: absolute;
    margin: -12px 0 0 -12px;
    background: #3b89c9;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}




.event-line{
    content: '';
    width: 2px;
    height: 100%;
    padding: 0;
    display: block;
    position: absolute;
    background: #428bca;
}


.delayed
{
    background: #f6a800;
}

.timeline-element-date-day
{
    color: #1c355e;
    font-size: 14px;
    font-family: "Montserrat",  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.timeline-element-title {
    color: #1c355e;
    font-size: 16px;
    font-family: "Montserrat",  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder
}


.timeline-element-sub-text
{
    color: #888e96;
    font-size: 14px;
    font-family: "Montserrat",  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-white{
    color: #fff;
}

.dot-icon
{
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
}