<template name="ShipmentHistory">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ShipmentTimeline}}
	</div>
</template>

<template name="ShipmentTimeline">

		<div id="content" class="container">
			<h1 id="component-title">
				Shipment History
			</h1>
			<p id="jumbotron-text">
			</p>
        </div>


    <div class="container">
        <div class="row d-flex justify-content-center mt-70 mb-70">
            <div class="col-md-12">
                            {{#each  shipment_events}}
                                {{> SingleEventView}}
                            {{/each}}
    </div>
        </div>
    </div>



</template>

<template name="SingleEventView">


    <div class="row" >
        <div class="col-xs-12" >
            <div class="col-xs-4">
                <div class="row" >
                        <div class="col-lg-6" ><span class="timeline-element-date-day">{{get_event_formatted_date eventDateTime}}</span></div>
                        <div class="col-lg-6"><span class="timeline-element-sub-text" >{{get_event_formatted_time eventDateTime}}</span></div>
                </div>
            </div>
            <div class="col-xs-8"  >

                <div class="row">
                    <i class="event-line  h-100 {{event_status shipmentIsDelayed}}">&nbsp;</i>


        {{#if hasArrived (eventPosition.status)}}
            <span class="event-dot  event-dot-with-icon {{event_status shipmentIsDelayed}}"><i class="fas fa-map-marker-alt text-white dot-icon text-center"></i></span>
        {{else}}
            {{#if isDelivered (eventPosition.status)}}
                <span class="event-dot  event-dot-with-icon {{event_status shipmentIsDelayed}}"><i class="fas fa-check-circle text-white dot-icon text-center"></i></span>
            {{else}}
              <i class="event-dot {{event_status shipmentIsDelayed}}"></i>
            {{/if}}
        {{/if}}



                    <div class="col-lg-8">
                        <span class="timeline-element-title">{{eventPosition.status}}</span>
                        {{#if isValidEventComment (eventPosition.comments)}}
                                <p class="timeline-element-sub-text">{{eventPosition.comments}}</p>
                        {{/if}}
                    </div>
                    <div class="col-lg-4">
                        <p class="timeline-element-sub-text">
                  {{eventPosition.city}}, {{eventPosition.state}}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>



</template>
